<div class="content-left">
    <a href="/Inbox" class="btn btn-light">Inbox</a>
    <hr>
    <a href="/Sent" class="btn btn-light">Sent</a>
    <hr>
    <a href="/Deleted" class="btn btn-light">Deleted</a>
</div>